<!DOCTYPE html>

<html>
    <head>
        <title>Amazon Alexa & Hello Stretch Interface</title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".btn-action").click(function(event) {
                    event.preventDefault();
                    var buttonId = $(this).attr('id');
                    $.ajax({
                        type: 'POST',
                        url: '/custom_intent',
                        data: {button_id: buttonId}
                    });
                });
                $("input[type='radio']").change(function() {
                    var selectedOption = $("input[type='radio']:checked").val();
                    $.ajax({
                        type: 'POST',
                        url: '/radio_selection',
                        data: {radioOption: selectedOption}
                    });
                });
                $(".btn-intents").click(function() {
                    event.preventDefault();
                    var buttonId = $(this).attr('id');
                    $.ajax({
                        type: 'POST',
                        url: '/button_click',
                        data: {button_id: buttonId}
                    });
                });
                // window.setInterval(function(){
                //     $('#CurrentAction').load('/ #CurrentAction');
                // }, 5000)

                
            });
            function refreshPage(){
                console.log("in")
                location.reload();
            } 
        </script>
    </head>
    <body>
        <h1>Amazon Alexa & Hello Stretch Interface</h1>
        <h3>Say <i>"Alexa, tell Hello Stretch..."</i> to give your Hello Stretch Robot a command.</h3>
        <div id='CurrentAction'>
            <h2>Current Action:</h2>
            <p>{{ intent }}</p>
            <p>{{ movements }}</p>
        </div>
        <div id='ButtonMode'>
            <h2>Action Buttons</h2>
            <button id="scan_room" class="btn-intents" onClick="refreshPage()">Scan Room</button>
            <button id="grab_from_table" class="btn-intents" onClick="refreshPage()">Grab From Table</button>
            <button id="move_to_table" class="btn-intents" onClick="refreshPage()">Move To Table</button>
            <button id="grab_from_ground" class="btn-intents" onClick="refreshPage()">Grab From Ground</button>
            <button id="stop" class="btn-intents" onClick="refreshPage()">Stop</button>
            <button id="stow" class="btn-intents" onClick="refreshPage()">Stow</button>
        </div>
        <div id='CustomIntent'>
            <h2>Make a custom action</h2>
            <h4>Which action would you like to create?</h4>
            <form>
                <input type="radio" id="option1" name="radioOption" value="option1">
                <label for="option1">Custom Action 1</label>
                <input type="radio" id="option2" name="radioOption" value="option2">
                <label for="option2">Custom Action 2</label>
                <input type="radio" id="option3" name="radioOption" value="option3">
                <label for="option3">Custom Action 3</label>
            </form>
            <div>
                <button id="Base Forward" class="btn-action" onClick="refreshPage()">Forward</button>
                <button id="Base Backwards" class="btn-action" onClick="refreshPage()">Backwards</button>
                <button id="Turn Left" class="btn-action" onClick="refreshPage()">Turn Left</button>
                <button id="Turn Right" class="btn-action" onClick="refreshPage()">Turn Right</button>
            </div>
            <div>
                <button id="Move Lift Up" class="btn-action" onClick="refreshPage()">Move Lift Up</button>
                <button id="Move Lift Down" class="btn-action" onClick="refreshPage()">Move Lift Down</button>
                <button id="Extend Arm" class="btn-action" onClick="refreshPage()">Extend Arm</button>
                <button id="Collapse Arm" class="btn-action" onClick="refreshPage()">Collapse Arm</button>
            </div>
            <div>
                <button id="Rotate Wrist Left" class="btn-action" onClick="refreshPage()">Rotate Wrist Left</button>
                <button id="Rotate Wrist Right" class="btn-action" onClick="refreshPage()">Rotate Wrist Right</button>
            </div>
            <div>
                <button id="Open Gripper" class="btn-action" onClick="refreshPage()">Open Gripper</button>
                <button id="Close Gripper" class="btn-action" onClick="refreshPage()">Close Gripper</button>
            </div>
            <div>
                <button id="clear" class="btn-action" onClick="refreshPage()">Clear</button>
            </div>
            <div id="Custom">
                <p>{{ custom}}</p>
            </div>
        </div>
    </body>
</html>  